<div id="page-wrapper" class="open">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main"><a routerLink="dashboard">Dashboard <span class="menu-icon fa fa-dashboard"></span></a></li>
      <li class="sidebar-title"><span>NAVIGATION</span></li>
      <li class="sidebar-list"><a routerLink="dashboard">Dashboard <span class="menu-icon fa fa-dashboard"></span></a></li>
      <li class="sidebar-list"><a routerLink="employee">Employees <span class="menu-icon fa fa-users"></span></a></li>
      <li class="sidebar-list"><a routerLink="location">Locations <span class="menu-icon fa fa-map-marker"></span></a></li>
      <li class="sidebar-list"><a routerLink="meeting">Meetings <span class="menu-icon fa fa-calendar"></span></a></li>
    </ul>
  </div>

  <!-- End Sidebar -->
</div>